body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.data-input {
  margin-top: 15px;
}

th, td {
  text-align: center !important;
}

.active {
  background-color: pink !important;
}

.last-item {
  position: relative;
}

.last-item span b {
  display: none;
  position: absolute;
  padding: 7px;
  background-color: aqua;
  top: 0;
  right: 0;
  height: 100%;
}

.last-item:hover span b {
  display: block;
}

.bcg {
  position: relative;
}

.bcg-active {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: cadetblue;
  z-index: -1;
}
